* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, pink, purple, pink, purple, pink);
  font-family: 'Neucha', cursive;
  font-size: 1.5rem;
}

.main-head {
  min-height: 30vh;
  margin: 2rem;
  padding: 1rem;
  background-color: white; 
  border: hotpink solid .25rem;
}

.about-me {
  min-height: 50vh;
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  c
}
.about-me img {
  width: 50%;
  height: 38rem;
  float: right;
  border: hotpink solid .25rem;
}

.background {
  min-height: 50vh;
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  border: hotpink solid .25rem;
}

.background img {
  width: 50%;
  float: right;
  border: hotpink solid .25rem;
}

.projects {
  min-height: 50vh; 
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  border: hotpink solid .25rem;
}

#title {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
  color: hotpink;
  text-shadow: 2px 2px purple;
}

#nav-bar {
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  color: purple;
}

h2 {
  font-size: 2.5rem; 
  padding: 1.5rem;
  margin: 1rem;
  color: hotpink; 
  text-shadow: 2px 2px purple; 
}

.spacing { 
  padding: 1rem; 
  margin: 1rem; 
}

li {
  padding: 1rem; 
  margin: 1rem;
}
